.flip-outer {
  width: 300px;
  height: 300px;
}
.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
}
.flip-inner:hover {
  transform: rotateY(180deg);

  .front {
    transition: all 1s;
  }
}
.front {
  position: absolute;
  img {
    width: 100%;
  }
}
.back {
  backface-visibility: hidden;
  background: orange;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding-top: 100px;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  transform: rotateY(180deg);
}
