body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

@mixin box-size($w) {
  border: 1px solid rgba(216, 112, 147, 0.247);
  width: $w;
  height: 50px;
}
%text-display {
  padding-top: 13px;
  padding-left: 13px;
}
.row-line {
  background-color: pink;
  margin: 10px;
}
.row {
  display: flex;
  width: 100%;

  .col-6 {
    @include box-size(50%);
    @extend %text-display;
  }
  .col-4 {
    @include box-size(33.33%);
    @extend %text-display;
  }
}
